html, 
body {
    margin: 0;
    padding: 0;
    background: white;
    height: 100vh;
}
.playground-section {
}

.top {
    height: 40vh;
    background: black;
    border-top: 1px solid white;
}
.top img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.center {
    height: 20vh;
    display: grid;
    place-items: center;
    background: black;
}

table {
    background: white;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 98%;
    max-width: 800px;
    background: black;
}

td, th {
    text-align: center;
    padding: 8px;
    color: white;
}
td:nth-child(2), th:nth-child(2) {
    width: 70%;
}

.bottom {
    padding: 7px;
    height: calc(40vh - 15px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: black;
}

.button {
    height: 100%;
    width: 25vw;
    pading: 0px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid lightgrey;
    background: white;
    border-radius: 7px;
    cursor: pointer;
    transition: 521ms ease;
}
.button:hover {
    background: black;
}
.button:hover p {
    color: white;
}

.button img {
    width: 100%;
    height: 85%;
    margin: 0px;
    object-fit: contain;
    border: none;
    outline: none;
    border-radius: 11px;
}

.button p {
    margin: 0;
    margin-top: 2px;
    font-size: 16px;
    transition: 521ms ease;
}
